.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	background: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

.home {
	cursor: pointer;
	width: fit-content;
}

.menu {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	cursor: pointer;
}

.drawer {
	background: black;
	width: fit-content;
	height: fit-content;
	padding: 10px;
}

.drawer-menu {
	cursor: pointer;
}
