.cart-card {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

.cart-card-img {
	width: 15%;
	height: 70px;
	object-fit: cover;
	object-position: center;
}

.cart-card-options {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.cart-card-amount {
	display: flex;
	align-items: center;
	width: 20%;
	gap: 10px;
}

.cart-card-price {
	width: 15%;
	text-align: end;
}

.icon-button {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.remove-button {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (orientation: portrait) and (max-width: 400px) {
	.cart-card-options {
		width: 35%;
	}

	.cart-card-amount {
		width: 25%;
	}

	.remove-button {
		visibility: hidden;
	}
}
